.advantages {
  width: 1274px;
  height: 625px;
  z-index: 1;
  position: relative;
}

.advantages_text {
  margin-top: 10px;
  margin-left: 269px;
  font-size: 56px;
  color: #ffffff;
  font-family: "Proxima Nova";
  font-weight: 300;
  text-transform: uppercase;
  text-align: left;
  line-height: 10px;
}

.advantages_images{
  list-style-type: none;
}
 .colum {
   /* position: relative; */
 }

.advantages_images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.advantages_images {
  width: 184px;
  height: 274px;
  font-size: 17px;
  color: #ffffff;
  font-family: "Proxima Nova";
  font-weight: 300;
  text-align: left;
}

.title_img {
  text-transform: uppercase;
}

.img_text_1st {
  margin-top: -265px;
  margin-left: 198px;
}

.img_text_2nd {
  margin-top: -265px;
  margin-left: 20px;
}

.img_text_3rd {
  margin-top: -265px;
  margin-left: 20px;
}

.img_text_4th {
  margin-top: -265px;
  margin-left: 20px;
}

.img_1st {
  margin-top: 83px;
  margin-left: 185px;
}

.img_2nd {
  margin-top: 83px;
  margin-left: 10px;
}

.img_3rd {
  margin-top: 66px;
  margin-left: 10px;
}

.img_4th {
  margin-top: -20px;
  margin-left: 10px;
}
