/* * {
  margin: 0;
  padding: 0;
} */

/* FONTS */
@font-face {
	font-family: "Samo Sans";
	src: url("fonts/Sans-Light.ttf");
}

body {
  background-color: white;
  margin: 0;
}

/* Header */
.header_up {
  height: 8px;
  background-color: #a292b3;
}

.envelope_header {
  width: 1300px;
  height: 109px;
  margin: 0 auto;
}

.logo {
  width: 201px;
  height: 70px;
  padding: 32px 10px 0 141px;
}

.logo h1 {
  font-size: 39px;
  color: #a292b3;
  font-family: "Samo Sans";
  margin: -63px 0 0 84px;
  letter-spacing: 0.08em;
}

.nav {
  margin: -50px 0 0 584px;
}
nav a {
  font-family: "Samo Sans";
  font-size: 19px;
  color: #545454;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  /* text-transform: uppercase; */
  /* font-family: "Segoe UI"; */
}

.about_us {
  padding-left: 94px;
  letter-spacing: 0.027em;
}

.services {
  padding-left: 90px;
  letter-spacing: 0.07em;
}

.contact_us {
  padding-left: 90px;
  letter-spacing: 0.09em;
}

.home::before {
  background-image: url(img/home.png);
  position: absolute;
  background-repeat: no-repeat;
  content: "";
  width: 25px;
  height: 25px;
  margin: -2px 0 0 -30px;
}

.about_us::before {
  background-image: url(img/about.png);
  position: absolute;
  background-repeat: no-repeat;
  content: "";
  width: 25px;
  height: 25px;
  margin: -2px 0 0 -30px;
}

.services::before {
  background-image: url(img/services.png);
  position: absolute;
  background-repeat: no-repeat;
  content: "";
  width: 25px;
  height: 25px;
  margin: -2px 0 0 -30px;
}

.contact_us::before {
  background-image: url(img/contacts.png);
  position: absolute;
  background-repeat: no-repeat;
  content: "";
  width: 25px;
  height: 25px;
  margin: -2px 0 0 -30px;
}
/* Header */

/* Slider */
.slider {
  width: 1020px;
  height: 485px;
  margin: 0 auto;
}

.first, .second {
  width: 100%;
  height: 100%;
  position: absolute;
  width: 1020px;
  height: 485px;
  margin: 29px 0 0 0;
  display: block;
}

.second {
  display: none;
}

.left {
  position: relative;
  z-index: 2;
  margin: 232px 0 0 0;
}

.right {
  position: relative;
  z-index: 2;
  margin: 0 0 0 940px;
}
/* Slider */

/* About Us */
#about {
  /* margin: 67px 0 0 440px; */
  width: 1020px;
  margin: 67px auto;
}
.about_top {
  width: 1000px;
  height: 2.5px;
  background-color: #82699d;
}
.about_discription {
  width: 915px;
  height: 146px;
  font-size: 23px;
  line-height: 36px;
  color: #82699d;
  font-family: "Segoe UI";
  font-style: italic;
  text-align: center;
  /* margin: 189px 0 0 160px; */
}

.about_description, span {
  font-weight: bold;
}

.about_bottom {
  width: 1000px;
  height: 2.5px;
  background-color: #82699d;
}

.content {
  width: 1000px;
  height: 279px;
  margin: 0 auto;
}

.content_img {
  margin: -31px 0 0 0;
}

.content_description {
  font-size: 31px;
  line-height: 36px;
  color: #505051;
  font-family: "Segoe UI";
  font-weight: bold;
  text-align: center;
  margin: -276px 0 0 122px;
}

.content_text {
  width: 627px;
  height: 160px;
  font-size: 15px;
  line-height: 28px;
  color: #838383;
  font-family: "Segoe UI";
  margin: 20px 0 0 364px;
}

.read_more_link {
  font-size: 13px;
  line-height: 36px;
  color: #82699d;
  font-family: "Segoe UI";
  font-style: italic;
  text-align: center;
  margin: 0 0 0 825px;
  text-decoration: none;
  cursor: pointer;
}
/* About Us */

/* Clients */
.clients {
  margin: auto;
}

.title {
  font-size: 23px;
  line-height: 36px;
  color: #000000;
  font-family: "Segoe UI";
  font-weight: 500;
  text-align: center;
  margin: 28px 0 0 -50px;
}

.title span {
  font-weight: bold;
}

.forward {
  color: #b2abab;
}

.clients_logo {
  display: grid;
  margin: 35px auto;
}
/* Clients */

/* Footer */
footer {
  height: 90px;
  width: 1300px;
  position: relative;
  background-color: #e6e6e6;
  margin: 57px auto;
}

.copyright {
  width: 500px;
  display: flex;
  position: relative;
  top: 27px;
  left: 140px;
}

.facebook {
  display: grid;
  margin: 0 0 0 1085px;
}

.twitter {
  display: block;
  margin: -30px 0 0 1139px;
}

.footer_bottom {
  height: 7px;
  width: 1300px;
  position: relative;
  top: 27px;
  background-color: #82699d;
  /* margin: 15px auto; */
}
/* Footer */